<div class="formBlock">
    {{#> Form }}
        <div class="formBlock__head">
            <div class="formBlock__title">Вход</div>
            <div class="formBlock__box">
                {{> Input type="text" name="login" label="Логин" errorText="Ошибка"}}
                {{> Input type="password" name="password" label="Пароль" errorText="Ошибка"}}
            </div>
        </div>
        <div class="formBlock__actions">
            {{> Button label="Авторизоваться"}}
            {{> Link label="Нет аккаунта?" page="registration"}}
        </div>
    {{/Form}}
</div>
 