<div class="messageItem {{#if my}}messageItem_my{{/if}}">
    <div class="messageItem__text">
        {{text}}
    </div>
    <div class="messageItem__time">
        <img src="/img/svg/read-icon.svg" alt="read">
        {{time}}
    </div>
</div>
