<div class="chatItem">
    <div class="chatItem__box">
        <div class="chatItem__ava">
        </div>
        <div class="chatItem__info">
            <div class="chatItem__name">{{name}}</div>
            <div class="chatItem__last">{{#if my}}<span>Вы:</span> {{/if}}{{last}}</div>
        </div>
    </div>
    <div class="chatItem__add">
        <div class="chatItem__time">{{time}}</div>
        <div class="chatItem__counter">{{count}}</div>
    </div>
</div>
