<div class="formBlock">
    {{#> Form }}
        <div class="formBlock__head">
            <div class="formBlock__title">Страница в разработке, ждите на втором спринте</div>

        </div>

    {{/Form}}
</div>
 