.profileItem {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child){
        border-bottom: 1px solid #EAEAEA;
    }
}

.profileName {
    color: var(--text-color);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 100% */
}

.profileValue {
    color: var(--text-secondary-color);
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 100% */
    pointer-events: none;

    &_edit{
        pointer-events: visible;
        width: 180px;
        height: 23px;
        border-radius: 5px;
        border: 1px solid #3369F3;
        text-align: start;
        padding: 5px;
        color: var(--text-color);
    }
}
