@import 'src/components/errorBlock/errorBlock';
@import 'src/components/profileItem/profileItem';
@import 'src/components/chatItem/chatItem';
@import 'src/components/messageItem/messageItem';
@import 'assets/styles/reset';
@import 'assets/styles/global';
@import 'assets/styles/fonts/inter';

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --main-color: #3369f3;
    --white-color: #fff;
    --gray-light-color: #FBFBFB;
    --gray-dark-color: #F8F8F8;
    --gray-color: #eaeaea;
    --gray-secondary-color: #EFEFEF;
    --second-color: #e4edfd;
    --error-color: #ff2f2f;
    --text-color: #1e1e1e;
    --text-secondary-color: #999;
    --transition: 0.3s all;
}

#app {
    height: 100%;
}

.linksList {
    position: absolute;
    top: 600px;
    display: flex;
    flex-direction: column;
    left: 100px;
    gap: 15px;

    li {
        cursor: pointer;
        color: var(--main-color);
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: 11px; /* 100% */
    }
}
