<div class="errorBlock">
    <h1 class="errorBlock__title">{{title}}</h1>
    <div class="errorBlock__message">{{description}}</div>
    {{> Link label="Назад к чатам" class="errorBlock__link" page="chats"}}
</div>
